node_modules/
stats.json
npm-debug.log
public/
.eslintrc.json
.gradle
.idea
gradle
gradlew
gradlew.bat
build/
*.log*
coverage/

# files which fire initial actions for easier development and testing
*_dev.js